<section class="login">
  <div class="login-left-side">
    <div class="login-left-side__text">
      <h2 class="text-white weight-600">Mlscope</h2>
      <p class="text-white mt-25">Здесь можно разместить краткое описание сервиса</p>
    </div>
    <div class="login-left-side__logo">
      <img alt="Логотип компании Mlscope" class="login-left-side__img"
           src="../../../../assets/images/logo/logo-login.png">
    </div>
  </div>
  <div class="login-right-side">
    <div class="sign-in">
      <img class="sign-in-right-side-img" src="../../../../assets/images/login-img-wrap.png"
           alt="Логотип компании Mlscope на белом фоне">
      <div class="sign-in-right-side__login-form">
        <h2 class="weight-600">Войти в Mlscope</h2>
        <form class="sign-in__form">
          <label class="weight-600" for="login">Имя пользователя или адрес электронной почты</label>
          <input id="login" class="input-text" type="text">
          <div class="space-between">
            <label for="password" class="weight-600">Пароль</label>
            <a>Забыли пароль?</a>
          </div>
          <input id="password" class="input-text" type="text">
          <input type="button" class="button mt-25" (click)="test()" value="Авторизация">
          <div class="mt-25">
            <input type="checkbox" class="input-checkbox" name="policy" id="policy">
            <label for="policy">Нажимая на кнопку, вы соглашаетесь на обработку персональных данных в соответствии с политикой
              конфиденциальности</label>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
