.view-selected-camera {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}

.view-list-cameras__wrap {
  max-height: 380px;
  overflow: auto;
  height: 100%;
}

.view-list-cameras__element {
  padding: 5px;
  border-radius: 8px;
  background: #F8FFFF;
  margin: 10px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.08);
  cursor: pointer;
  display: flex;
  min-width: 300px;
}

.view-list-cameras__element:first-child {
  margin-top: 0 ;
}

.view-list-cameras__element:last-child {
  margin-bottom: 0 ;
}

.view-list-cameras__element-img {
  width: 40%;
  height: 100%;
}

.open-turnstile {
  margin-top: 30px;
}

.view-camera-wrap {
  display: flex;
  max-height: 700px;
  margin-top: 20px;
}

.view-list-cameras {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
