<h2 class="weight-600">Войти в Mlscope</h2>
<form class="sign-in__form">
  <label class="weight-600" for="login">Имя пользователя или адрес электронной почты</label>
  <input id="login" class="input-text" type="text">
  <div class="space-between">
    <label for="password" class="weight-600">Пароль</label>
    <a>Забыли пароль?</a>
  </div>
  <input id="password" class="input-text" type="text">
  <button class="button mt-25">Авторизация</button>
  <div class="mt-25">
    <input type="checkbox" class="input-checkbox" name="policy" id="policy">
    <label for="policy">Нажимая на кнопку, вы соглашаетесь на обработку персональных данных в соответствии с политикой
      конфиденциальности</label>
  </div>
</form>
